<div id="rightbar">
    
    <nav>
	<ul>	    
	    <li class="blue-noise-bg inline cboth">TEAM</li>
	    <li class="blue-noise-bg inline cboth">REFERENCES</li>
	    <li class="blue-noise-bg inline cboth">CONTACT US</li>	    
	</ul>
    </nav>
    
</div>