<div id="rightbar" class="small-static">
    
    <nav>
	<ul>	    
	    <a href="/team"><li class="blue-noise-bg-small inline cboth position-animation">TEAM</li></a>
	    <li class="blue-noise-bg-small inline cboth position-animation">REFERENCES</li>
	    <a href="/contact"><li class="blue-noise-bg-small inline cboth position-animation">CONTACT US</li></a>    
	</ul>
    </nav>
    
</div>