<div id="rightbar">
    
    <nav>
	<ul>	    
	    <li class="blue-noise-bg inline cboth position-animation">TEAM</li>
	    <li class="blue-noise-bg inline cboth position-animation">REFERENCES</li>
	    <li class="blue-noise-bg inline cboth position-animation">CONTACT US</li>	    
	</ul>
    </nav>
    
</div>