
<div id="topbar">
    <div class="row">
    <nav>
	<ul>
	    <a href="index"><li><img src="assets/ui/topbar-logo.png"/></li></a>
	    <a href="tour" id="a-offerings"><li>OFFERINGS<img src="assets/ui/topbar-dropdown-arrow.png"/></li></a>
	   	<a href="works"><li>WORK</li></a>    
	</ul>
    </nav>
    </div>
</div>
<div class="topbar-dropdown offerings">
    <div class="row">
	<div class="large-3 columns">
	    <h3>MANTRA <span class="blue-text">UX</span></h3>
	    <ul class="oxygen">
		<li>User Research</li>
		<li>Experience Design</li>
		<li>Costumer Journey</li>
		<li>Activation & Retention</li>
	    </ul>
	</div>
	<div class="large-3 columns">
	    <h3>MANTRA <span class="blue-text">DEV</span></h3>
	    <ul class="oxygen">
		<li>Consulting</li>
		<li>Development</li>
		<li>Training</li>
		<li>Culture</li>
	    </ul>	    
	</div>
	<div class="large-3 columns">
	    <h3>MANTRA <span class="blue-text">LABS</span></h3>
	    <ul class="oxygen">
		<li>Incubation</li>
		<li>Series A Prep</li>
		<li>Events</li>
		<li>Portfolio</li>
	    </ul>	    
	</div>
	<div class="large-3 columns left">
	    <h3><span class="blue-text">APPCADETS</span></h3>
	    <ul class="oxygen">
		<li>Academy</li>
		<li>Monitoring</li>
		<li>Internships</li>
		<li>Apply</li>
	    </ul>	    
	</div>
			
	
    </div>
</div>