<div id="topbar">
    <nav>
	<ul>
	    <li><img src="assets/ui/topbar-logo.png"/></li>
	    <li>One<img src="assets/ui/topbar-dropdown-arrow.png"/></li>
	    <li>One<img src="assets/ui/topbar-dropdown-arrow.png"/></li>	    
	</ul>
    </nav>
</div>