<div id="topbar">
    <div class="row">
    <nav>
	<ul>
	    <a href="index"><li><img src="assets/ui/topbar-logo.png"/></li></a>
	    <li>OFFERINGS<img src="assets/ui/topbar-dropdown-arrow.png"/></li>
	   	<a href="tour"><li>WORK<img src="assets/ui/topbar-dropdown-arrow.png"/></li></a>    
	</ul>
    </nav>
    </div>
</div>