<div id="topbar">
    <div class="row">
    <nav>
	<ul>
	    <li><img src="assets/ui/topbar-logo.png"/></li>
	    <li>OFFERINGS<img src="assets/ui/topbar-dropdown-arrow.png"/></li>
	    <li>WORK<img src="assets/ui/topbar-dropdown-arrow.png"/></li>	    
	</ul>
    </nav>
    </div>
</div>