<div class="row fullwidth ux-container small-no-limit-top">
    <div class="large-6 size-animation columns strethdown ovfh small-height-auto  ovfa ux-left">
	<div class="ux-next h3">NEXT</div>
	<div class="s-limit-top">
	    <div class="backarrow vmiddle"></div>
	    <div class="h4 inline vmiddle go-back oxygen"><a href="/">GO BACK</a></div>
	</div>

	<!----------------------------------!-->

	<div class="ux-slide-left active ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">We <img src="assets/ui/heart.jpg" />Film &amp; Animation</div>
	    <div class="h2 georgia s-limit-top">So much, we brought it in-house. We've invested in top of the line equipment and producers.</div>
	    <p class="oxygen m-limit m-limit-top h4">
		Mantra has sought after this skillset due to the integrated nature of film and explainer video in today's consumer internet. From scripting to storyboarding and full scale production on the ARRI Alexa, Red or DSLR, we've built this competency into our core business.
	    </p>

	</div>
	<div class="ux-slide-left ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">Recent productions</div>
	    <div class="h2 georgia s-limit-top">Listed below are films and explainer videos we've created:</div>
	    <p class="oxygen m-limit m-limit-top h4">

	    <ul class="oxygen h4" style="font-size:14px;margin-top:-15px;">
		<li><a href="#">Monthlys - Live Motion</a></li>
		<li><a href="#">Monthlys - Animated</a></li>
		<li><a href="#">BodyShopBids - Animated</a></li>
		<li><a href="#">Bright Future - Animated</a></li>
		<li><a href="#">BenchPrep - Live Motion</a></li>
		<li><a href="#">BenchPrep - Animated</a></li>
		<li><a href="#">Mantra Demo Reel - Live Motion</a></li>
	    </ul>
	    </p>
	</div>



    </div>



    <div class="large-6 size-animation columns ux-right strethdown ovfh no-padding-left left">
	<div class="ux-slide-right active ux-slider">
	    <div class="img-slider-nav">
		<div class="circle small white-bg inline"></div>
		<div class="circle small white-bg inline"></div>
		<div class="circle small white-bg inline"></div>
	    </div>
	    <div class="absfill ux-slider-single" style="background-image: url(assets/ux/media1.jpg);"></div>
	    <div class="absfill ux-slider-single" style="background-image: url(assets/ux/media2.jpg);"></div>
	    <div class="absfill ux-slider-single" style="background-image: url(assets/ux/red.jpg);"></div>

	</div>

	<div class="ux-slide-right ux-slider">
	    <div class="large-4 columns small-4 one-third-h" style="background-image: url(assets/ux/videos/1.jpg);background-size:300px 300px;"><a href="#" data-reveal-id="devmedia1" data-animation="fade"><a href="#" data-reveal-id="devmedia1" data-animation="fade"><div class="fill-vid-button"></div></a></a></div>
	    <div class="large-4 columns small-4 one-third-h" style="background-image: url(assets/ux/videos/2.jpg);background-size:300px 300px;"><a href="#" data-reveal-id="devmedia2" data-animation="fade"><div class="fill-vid-button"></div></a></div>
	    <div class="large-4 columns small-4 one-third-h" style="background-image: url(assets/ux/videos/3.jpg);background-size:300px 300px;"><a href="#" data-reveal-id="devmedia3" data-animation="fade"><div class="fill-vid-button"></div></a></div>
	    <div class="large-4 columns small-4 one-third-h" style="background-image: url(assets/ux/videos/4.jpg);background-size:300px 300px;"><a href="#" data-reveal-id="devmedia4" data-animation="fade"><div class="fill-vid-button"></div></a></div>
	    <div class="large-4 columns small-4 one-third-h" style="background-image: url(assets/ux/videos/5.jpg);background-size:300px 300px;"><a href="#" data-reveal-id="devmedia5" data-animation="fade"><div class="fill-vid-button"></div></a></div>
	    <div class="large-4 columns small-4 one-third-h" style="background-image: url(assets/ux/videos/6.jpg);background-size:300px 300px;"><a href="#" data-reveal-id="devmedia6" data-animation="fade"><div class="fill-vid-button"></div></a></div>
	    <div class="large-4 columns small-4 one-third-h" style="background-image: url(assets/ux/videos/7.jpg);background-size:300px 300px;"><a href="#" data-reveal-id="devmedia7" data-animation="fade"><div class="fill-vid-button"></div></a></div>
	    <div class="large-4 columns small-4 one-third-h" style="background-image: url(assets/ux/videos/8.jpg);background-size:300px 300px;"><a href="#" data-reveal-id="devmedia8" data-animation="fade"><div class="fill-vid-button"></div></a></div>
	    <div class="large-4 columns small-4 one-third-h" style="background-image: url(assets/ux/videos/9.jpg);background-size:300px 300px;"><a href="#" data-reveal-id="devmedia9" data-animation="fade"><div class="fill-vid-button"></div></a></div>
	</div>




    </div>
</div>
<div id="devmedia1" class="reveal-modal">
    
    <iframe width="560" height="315" src="http://www.youtube.com/embed/7pEJX4sHJuk?wmode=opaque&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="devmedia2" class="reveal-modal">
    <iframe width="560" height="315" src="http://www.youtube.com/embed/gU-_R5UKK00?wmode=opaque&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="devmedia3" class="reveal-modal">
 <iframe width="560" height="315" src="http://www.youtube.com/embed/Dd9IIOmJb4k?wmode=opaque&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="devmedia4" class="reveal-modal">
 
    <iframe src="http://player.vimeo.com/video/10239738?color=ffffff" width="560" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="devmedia5" class="reveal-modal">
     <iframe width="560" height="315" src="http://www.youtube.com/embed/KF9dcgslES8?wmode=opaque&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    
    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="devmedia6" class="reveal-modal">
       <iframe width="560" height="315" src="http://www.youtube.com/embed/7i74X3je3KY?wmode=opaque&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="devmedia7" class="reveal-modal">
    <iframe width="560" height="315" src="http://www.youtube.com/embed/7pEJX4sHJuk?wmode=opaque&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="devmedia8" class="reveal-modal">
    <iframe src="http://player.vimeo.com/video/31914568?color=ffffff" width="560" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="devmedia9" class="reveal-modal">
    <iframe width="560" height="315" src="http://www.youtube.com/embed/opy9QemC-dc?wmode=opaque&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    <a class="close-reveal-modal">&#215;</a>
</div>


<style>
    #rightbar {display: none !important;}
</style>
<script>
    $(document).ready(function(){
	$('.ux-slide-left.active').cascade();	
	$('.ux-next').click(function(){	
	
	    var left = $('.ux-slide-left.active');
	    var right = $('.ux-slide-right.active');

	    if ( right.nextOrFirst().hasClass('slide-with-video') ) {
		$('.ux-left').removeClass('large-6').addClass('large-4');
		$('.ux-right').removeClass('large-6').addClass('large-8');
    
	    } else {
		$('.ux-left').removeClass('large-4').addClass('large-6');
		$('.ux-right').removeClass('large-8').addClass('large-6');    
	    }
	
	    $('.ux-slide-left.last').removeClass('last')
	    left.addClass('last').removeClass('active').nextOrFirst('.ux-slide-left').addClass('active');
	
	
	    $('.ux-slide-right.last').removeClass('last')
	    right.addClass('last').removeClass('active').nextOrFirst('.ux-slide-right').addClass('active');
	
	
	    $('.ux-slide-left.active').cascade();	
	    $('.ux-slide-right.active').delay(200).fadeSlideIn();
	
	    //$(window).resize();
	    $('.ux-vid').vCenter();
	
	
	
	
	});
    
	//keyboard support (left/right arrow nav)
	$(document).keyup(function(e){			

	    if(e.keyCode == 39 || e.keyCode == 40) {
		$('.ux-next').trigger('click');
	    }
	});  
	
	
	$('.ux-slider').sliding('circle','ux-slider-single');
    
    })    
</script>



