<div class="row b-limit-top">


    <div class="large-8 columns m-padding">
	<h1 class="blue-noise-bg inline-inline">We create innovative web and mobile experiences, <em>together.</em></h1>
	<br />
	<h2 class="blue-noise-bg-small s-padding oxygen">Entrepenours and rising companies team up with us to build, launch and get traction. <a href="tour" style="color:#eee;font-style:italic;">See how we do it.</a></h2>
    </div>
    <div class="large-8 columns left m-padding">
	<span class="black-transparent-bg oxygen black-quote">“We think what Mantra is doing is fantastic and we are glad we are a part of it,” <em>Brad Keywell</em></span>
    </div>
</div>


