<div class="row fullwidth ux-container small-no-limit-top">
    <div class="large-6 size-animation columns strethdown ovfh small-height-auto  ovfa ux-left">
	
	<div class="s-limit-top">
	    <div class="backarrow vmiddle"></div>
	    <div class="h4 inline vmiddle go-back oxygen"><a href="/">GO BACK</a></div>
	</div>

	<!----------------------------------!-->

	<div class="ux-slide-left active ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">Mantra Labs projects</div>
	    <div class="h2 georgia s-limit-top">From concept to profit, we're fueling innovation and growth at the partner level.</div>
	    <p class="oxygen m-limit m-limit-top h4">
	    	Join forces with MantraLabs and build your business. We enable entrepenours to focus on growing business rather than the details of running a software company or UX firm. 
	    </p>

	</div>



    </div>



    <div class="large-6 size-animation columns ux-right strethdown ovfh no-padding-left left">

	<div class="ux-slide-right active ux-slider">
	    <div class="img-slider-nav">
	    </div>
	    <div class="absfill ux-slider-single" style="background-image: url(assets/ux/labs.jpg);"></div>
	</div>




</div>
<style>
    #rightbar {display: none !important;}
</style>
<script>
    $(document).ready(function(){
	$('.ux-slide-left.active').cascade();	
	$('.ux-next').click(function(){	
	
	    var left = $('.ux-slide-left.active');
	    var right = $('.ux-slide-right.active');

	    if ( right.nextOrFirst().hasClass('slide-with-video') ) {
		$('.ux-left').removeClass('large-6').addClass('large-4');
		$('.ux-right').removeClass('large-6').addClass('large-8');
    
	    } else {
		$('.ux-left').removeClass('large-4').addClass('large-6');
		$('.ux-right').removeClass('large-8').addClass('large-6');    
	    }
	
	    $('.ux-slide-left.last').removeClass('last')
	    left.addClass('last').removeClass('active').nextOrFirst('.ux-slide-left').addClass('active');
	
	
	    $('.ux-slide-right.last').removeClass('last')
	    right.addClass('last').removeClass('active').nextOrFirst('.ux-slide-right').addClass('active');
	
	
	    $('.ux-slide-left.active').cascade();	
	    $('.ux-slide-right.active').delay(200).fadeSlideIn();
	
	    //$(window).resize();
	    $('.ux-vid').vCenter();
	
	
	
	
	});
    
	//keyboard support (left/right arrow nav)
	$(document).keyup(function(e){			

	    if(e.keyCode == 39 || e.keyCode == 40) {
		$('.ux-next').trigger('click');
	    }
	});  
	
	
	$('.ux-slider').sliding('circle','ux-slider-single');
    
    })    
</script>



