<div class="filldiv bg white-bg"></div>
<div class="row b-limit-top">

    <div class="large-12 columns">
	<div class="s-limit black-text"><h4>TEAM MANTRA</h4></div>
    </div>
</div>

<div class="row m-limit">

    <div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="assets/team/frank.jpg" class="s-limit"/>
	    <h2>Francesco Pinto</h2>
	    <h3 class="s-limit">CEO / Founder</h3>
	    <p  class="oxygen h5">Frank is a complete lifecycle director with experience in all phases of software design and development. He has helped start-ups in the Silicon Valley, Chicago and New York launch and get traction for more than 15 years. An entrepenour at heart and an art director by trade, he is also the founder and art director of and for Monthlys, GreenBeans and numerous other internet properties. </p>
	</div>
    </div>
    <div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="assets/team/colleen.jpg" class="s-limit"/>
	    <h2>Colleen Koranda</h2>
	    <h3 class="s-limit">UX Director / Co-Founder</h3>
	    <p class="oxygen h5">For the past seven years Colleen has designed friendly and intuitive experiences to help start-ups become successful. She has led design teams through all aspects of the UX design process. <br /><br />Her focus is on understanding what people do, how they think, and what they need in order to solve design problems with simple solutions. Colleen has a Master’s in Human-Computer Interaction from Carnegie Mellon University.</p>
	</div>
    </div>
    <div class="large-6 columns">
	<div class="blue-noise-bg s-limit s-padding">
	    <h2>Expect to be surrounded by the best talent around. </h2>

	</div>
	<div class="oxygen m-limit">
	    <h2>
		“Frank was an original angel for us.” <br /><em>Neal Sales-Griffen, CEO StarterLeague</em>
	    </h2>
	    <!-- h2>
		“Mantra gives early stage companies access to resources they couldn’t otherwise afford.” <em>Eric Lefkofsky</em>
	    </h2 -->
	</div>
	
	<div class="m-limit">
	    <img src="assets/team/test-carolyn.jpg" class="m-limit-right left"/>
	    <p class="oxygen h5">
		“I’ve worked with Frank on various projects over the past few years, and he is one of the most driven, passionate people.” - Carolyn Kmet former Marketing Director, Groupon
	    </p>
	</div>
	<br /><br />
	<div class="cboth"></div>
	
	<div class="m-limit">
	    <img src="assets/team/test-neal.jpg" class="m-limit-right left"/>
	    <p class="oxygen h5">
		“"Frank was an original Angel for us - he was a huge help in helping us launch.” - Neal Sales-Griffen CEO, StarterLeague.com
	    </p>
	</div>
	<br /><br /><br /><br />
	<div class="cboth"></div>
	
	<div class="m-limit">
	    <img src="assets/team/test-logan.jpg" class="m-limit-right left"/>
	    <p class="oxygen h5">
		"Frank is a true entrepreneur... From idea generation, to creating wireframes, leading design, writing code, marketing plans/videos/photos/sound, and through to execution. He's a product builder." - Logan LaHive CEO Bellycard.com
	    </p>
	</div>
	<div class="cboth"></div>
	
			
    </div>

</div>

<div class="row m-limit">

    <div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="assets/team/jon.jpg" class="s-limit"/>
	    <h2>Jonathan Soeder</h2>
	    <h3 class="s-limit">CTO, Co-founder</h3>
	    <p  class="oxygen h5">Jonathan is a proven team leader with industry experience ranging from consumer e-commerce, the B2B technical services industry, health care and education. Experienced across the entire stack, he leads Mantra's development practice by helping products scale, by increasing developer productivity and automation and with technical architecture. Prior to Mantra, Jonathan served as BenchPrep's CTO, Monthlys lead architect and has served as an advisor to numerous startups in Chicago's burgeoning tech community.</p>
	</div>
    </div>
    <div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="assets/team/nick.jpg" class="s-limit"/>
	    <h2>Nick McEvily</h2>
	    <h3 class="s-limit">Partner, VP of Product</h3>
	    <p class="oxygen h5">Nick is a problem solver and a storyteller with a background in human-centered design. He puts the user at the center of every solution he seeks and every story he tells. With experience in multi-media production, UX and identity design, he's been creating brands and go-to marketing strategies for the last three years. He's got a B.Sc and M.Sc from Cornell University and has been on the founding team of three startups.</p>
	</div>
    </div>
        <div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="assets/team/alex.jpg" class="s-limit"/>
	    <h2>Alex Smith</h2>
	    <h3 class="s-limit">VP of Technology</h3>
	    <p  class="oxygen h5">Alex is a technology expert with a strong entreprenual mindset.  For the past 6 years he's helped companies achive their digital apsirations with solutions ranging from embedded systems to mobile applications.</p>
	</div>
    </div>
    <div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="assets/team/sam.jpg" class="s-limit"/>
	    <h2>Samantha Abernathy</h2>
	    <h3 class="s-limit">Identity Designer</h3>
	    <p  class="oxygen h5">Samantha kicked off her creative career in Atlanta, Georgia after attending Savannah College of Art and Design. With a background in graphic design and professional photography, she specializes in branding and identity, logo design and product photography. </p>
	</div>
    </div>


   



    

</div>

<div class="row m-limit">
	

<div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="assets/team/richard.jpg" class="s-limit"/>
	    <h2>Richard Victor Mahee</h2>
	    <h3 class="s-limit">Partner, Business Development</h3>
	    <p  class="oxygen h5">Richard Victor Mahee (Mahvrick) focuses on strategic alliances and business development primarily in the media space. A veteran at a tier-1A private equity firm Richard brings Mantra expertise in growth strategies, strategic funding opportunities and stays current with market analyst reports. 
    </p>
	</div>
    </div>
<div class="large-3 columns">
    <div class="s-limit black-text">
	    <img src="assets/team/aric.jpg" class="s-limit"/>
	    <h2>Aric Jackson</h2>
	    <h3 class="s-limit">Director of Film, Co-founder</h3>
<p  class="oxygen h5"> Aric's work ranges from documentaries, narratives, commercials, television programs, music videos and industrials. He has also directed, produced, shot, and edited short films and video programs for online outlets such as Penguin Books, The PGA, The Onion, The Huffington Post, Bloom School of Jazz and Monthlys, Inc.</p>
	</div>
    </div>
    <div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="assets/team/eddie.jpg" class="s-limit"/>
	    <h2>Edward Anderson</h2>
	    <h3 class="s-limit">Full Stack Engineer</h3>
	    <p  class="oxygen h5">Edward Anderson studied Economics at the University of Wisconsin-Madison. After working as an analyst in Chicago, he realized he could write computer programs to automate a lot of his tasks. He then decided to work full time as a Software Engineer, working on projects for Fortune 500 companies and hospitals. In 2012 he started working full-time on Process Smith, a business process automation software company. </p>
	</div>
    </div>
     <div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="assets/team/amy.jpg" class="s-limit"/>
	    <h2>Amy Johnson</h2>
	    <h3 class="s-limit">User Interface Designer</h3>
	    <p  class="oxygen h5">Amy is a classically trained graphic designer specializing in custom typography, iconography, illustration, user interface, wireframing, responsive design, and rapid prototyping. Amy is an active member of AIGA, and has experience in a  multitude of print and web projects. She helps bring well formed ideas to life and reality with a steady hand and awesome work ethic. Amy finds joy in the ever changing web field.</p>
	</div>
    </div>
    <!-- div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="assets/team/neil.jpg" class="s-limit"/>
	    <h2>Neil Burchfield</h2>
	    <h3 class="s-limit">Lead iOS Developer</h3>
	    <p  class="oxygen h5">Over the past few years, Neil has been developing iOS and Android applications for some of the world's largest futures exchange companies. Neil works in various environments, integrating externally allocated RESTful web services to an intuitive frontend UI design. During his time at NIU, he designed, developed, and maintained iOS applications for elementary teachers that properly, easily, and intuitively record assessments on fellow students. Neil has his masters in computer science at NIU.</p>
	</div>
    </div -->

</div>

<div class="row m-limit">
	<div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="assets/team/tommy.jpg" class="s-limit"/>
	    <h2>Thomas Schmitz</h2>
	    <h3 class="s-limit">Business Development</h3>
	    <p  class="oxygen h5">Thomas Schmitz has helped build business pipelines for numerous dot coms, in both the consumer web and enterprise space. At Mantra, he focuses on business development on behalf of Mantra Labs organizations such as BFI, AgentRun and Velawsity.</p>
	</div>
    </div>
    <div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="assets/team/tim.jpg" class="s-limit"/>
	    <h2>Tim Henry</h2>
	    <h3 class="s-limit">Business Development</h3>
	    <p  class="oxygen h5">Tim focuses on business development and integration strategies for new businesses. He works with Mantra's clients to build a foundation of clients.</p>
	</div>
    </div>
            <div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="assets/team/tia.jpg" class="s-limit"/>
	    <h2>Tia Shelley</h2>
	    <h3 class="s-limit">User Research</h3>
	    <p  class="oxygen h5">As a PhD candidate of Human-Computer Interaction at the University of Illinois at Chicago, Tia has been involved in every step of the UX design and build process. Her experience has helped her to understand how to determine what users really need, and create unique solutions for the variety of problems they face.</p>

	</div>
    </div>
    <div class="large-3 columns">
	<div class="s-limit black-text">
<p  class="oxygen h5"></p>
	</div>
    </div>


</div>


<style>
    #rightbar {display: none;}
</style>