
<div class="row b-limit-top">

    <div class="large-12 columns">
	<div class="s-limit black-text"><h4>TEAM MANTRA</h4></div>
    </div>
</div>

<div class="row m-limit">

    <div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="http://placehold.it/244x325" class="s-limit"/>
	    <h2>Francesco Pinto</h2>
	    <h3 class="s-limit">CEO / Founder</h3>
	    <p class="h4">For over three years Frank has helped more than ten Lightbank companies launch and go-to-market. An Art and UX Director by trade, he is also a hybrid programmer with a passion for HTML5, CSS3 and Ruby on Rails. Overall, Frank has been focused on Brand, Identity and User Experience in Chicago for more than 14 years.</p>
	</div>
    </div>
    <div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="http://placehold.it/244x325" class="s-limit"/>
	    <h2>Colleen Koranda</h2>
	    <h3 class="s-limit">UX Director / Co-Founder</h3>
	    <p class="h4">For the past seven years Colleen has designed friendly and intuitive experiences to help start-ups become successful. She has led design teams through all aspects of the UX design process. Her focus is on understanding what people do, how they think, and what they need in order to solve design problems with simple solutions. Colleen has a Master’s in Human-Computer Interaction from Carnegie Mellon University.</p>
	</div>
    </div>
    <div class="large-6 columns">
	<div class="blue-noise-bg s-limit">
	    <h2>Expect to be surrounded by the best talent around. </h2>

	</div>
	<div class="oxygen s-limit">
	    <h2>
		“Mantra gives early stage companies access to resources they couldn’t otherwise get access to because of numerous constraints” <em>Eric Lefkofsky</em>
	    </h2>
	</div>
	
	<div class="s-limit">
	    <img src="http://placehold.it/135x135" class="m-limit-right left"/>
	    <p class="oxygen h4">
		“I’ve worked with Frank on various projects over the past few years, and he is one of the most driven, passionate people.” - Carolyn Kmet former Marketing Director, Groupon
	    </p>
	</div>
	<div class="cboth"></div>
	
	<div class="s-limit">
	    <img src="http://placehold.it/135x135" class="m-limit-right left"/>
	    <p class="oxygen h4">
		“I’ve worked with Frank on various projects over the past few years, and he is one of the most driven, passionate people.” - Carolyn Kmet former Marketing Director, Groupon
	    </p>
	</div>
	<div class="cboth"></div>
	
	<div class="s-limit">
	    <img src="http://placehold.it/135x135" class="m-limit-right left"/>
	    <p class="oxygen h4">
		“I’ve worked with Frank on various projects over the past few years, and he is one of the most driven, passionate people.” - Carolyn Kmet former Marketing Director, Groupon
	    </p>
	</div>
	<div class="cboth"></div>
	
			
    </div>

</div>

<div class="row m-limit">

    <div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="http://placehold.it/244x325" class="s-limit"/>
	    <h2>Francesco Pinto</h2>
	    <h3 class="s-limit">CEO / Founder</h3>
	    <p class="h4">For over three years Frank has helped more than ten Lightbank companies launch and go-to-market. An Art and UX Director by trade, he is also a hybrid programmer with a passion for HTML5, CSS3 and Ruby on Rails. Overall, Frank has been focused on Brand, Identity and User Experience in Chicago for more than 14 years.</p>
	</div>
    </div>
    <div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="http://placehold.it/244x325" class="s-limit"/>
	    <h2>Colleen Koranda</h2>
	    <h3 class="s-limit">UX Director / Co-Founder</h3>
	    <p class="h4">For the past seven years Colleen has designed friendly and intuitive experiences to help start-ups become successful. She has led design teams through all aspects of the UX design process. Her focus is on understanding what people do, how they think, and what they need in order to solve design problems with simple solutions. Colleen has a Master’s in Human-Computer Interaction from Carnegie Mellon University.</p>
	</div>
    </div>
    <div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="http://placehold.it/244x325" class="s-limit"/>
	    <h2>Francesco Pinto</h2>
	    <h3 class="s-limit">CEO / Founder</h3>
	    <p class="h4">For over three years Frank has helped more than ten Lightbank companies launch and go-to-market. An Art and UX Director by trade, he is also a hybrid programmer with a passion for HTML5, CSS3 and Ruby on Rails. Overall, Frank has been focused on Brand, Identity and User Experience in Chicago for more than 14 years.</p>
	</div>
    </div>
    <div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="http://placehold.it/244x325" class="s-limit"/>
	    <h2>Colleen Koranda</h2>
	    <h3 class="s-limit">UX Director / Co-Founder</h3>
	    <p class="h4">For the past seven years Colleen has designed friendly and intuitive experiences to help start-ups become successful. She has led design teams through all aspects of the UX design process. Her focus is on understanding what people do, how they think, and what they need in order to solve design problems with simple solutions. Colleen has a Master’s in Human-Computer Interaction from Carnegie Mellon University.</p>
	</div>
    </div>

</div>

<div class="row m-limit">

    <div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="http://placehold.it/244x325" class="s-limit"/>
	    <h2>Francesco Pinto</h2>
	    <h3 class="s-limit">CEO / Founder</h3>
	    <p class="h4">For over three years Frank has helped more than ten Lightbank companies launch and go-to-market. An Art and UX Director by trade, he is also a hybrid programmer with a passion for HTML5, CSS3 and Ruby on Rails. Overall, Frank has been focused on Brand, Identity and User Experience in Chicago for more than 14 years.</p>
	</div>
    </div>
    <div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="http://placehold.it/244x325" class="s-limit"/>
	    <h2>Colleen Koranda</h2>
	    <h3 class="s-limit">UX Director / Co-Founder</h3>
	    <p class="h4">For the past seven years Colleen has designed friendly and intuitive experiences to help start-ups become successful. She has led design teams through all aspects of the UX design process. Her focus is on understanding what people do, how they think, and what they need in order to solve design problems with simple solutions. Colleen has a Master’s in Human-Computer Interaction from Carnegie Mellon University.</p>
	</div>
    </div>
    <div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="http://placehold.it/244x325" class="s-limit"/>
	    <h2>Francesco Pinto</h2>
	    <h3 class="s-limit">CEO / Founder</h3>
	    <p class="h4">For over three years Frank has helped more than ten Lightbank companies launch and go-to-market. An Art and UX Director by trade, he is also a hybrid programmer with a passion for HTML5, CSS3 and Ruby on Rails. Overall, Frank has been focused on Brand, Identity and User Experience in Chicago for more than 14 years.</p>
	</div>
    </div>
    <div class="large-3 columns">
	<div class="s-limit black-text">
	    <img src="http://placehold.it/244x325" class="s-limit"/>
	    <h2>Colleen Koranda</h2>
	    <h3 class="s-limit">UX Director / Co-Founder</h3>
	    <p class="h4">For the past seven years Colleen has designed friendly and intuitive experiences to help start-ups become successful. She has led design teams through all aspects of the UX design process. Her focus is on understanding what people do, how they think, and what they need in order to solve design problems with simple solutions. Colleen has a Master’s in Human-Computer Interaction from Carnegie Mellon University.</p>
	</div>
    </div>

</div>
