<div class="row">

    <div class="large-12 columns">
	<div>TOUR</div>
	<div class="frame">
	    <table class="menu tour-menu">
		<tr>
		    <td>ENGAGE</td>
		    <td>RESEARCH</td>
		    <td>SYNTHESIZE</td>
		    <td>DESIGN</td>
		    <td>VALIDDATE</td>
		    <td>BUILD</td>
		    <td>ANALYZE</td>
		    <td>OPTIMIZE</td>
		</tr>
	    </table>       
	    <div class="tour-arrow"></div>
	</div>
    </div>
</div>


