<div class="big-shadow"></div>
<div class="row">

    <div class="large-12 columns">
	<div class="s-limit black-text"><h4>TOUR</h4></div>
	<div class="frame">
	    <table class="menu tour-menu">
		<tr>
		    <td>ENGAGE</td>
		    <td>RESEARCH</td>
		    <td>SYNTHESIZE</td>
		    <td>DESIGN</td>
		    <td>VALIDATE</td>
		    <td>BUILD</td>
		    <td>ANALYZE</td>
		    <td>OPTIMIZE</td>
		</tr>
	    </table>       
	    <div class="tour-arrow"></div>
	    <div class="keyboard-icon"></div>
	    
	</div>
    </div>
    <div class="large-9 left columns m-limit-top">
	<h1 class="blue-noise-bg inline-inline ">Our journey begins with conversations, evaluations and lots of notes.</h1>
	<div><h3 class="white-bg s-padding oxygen">Mantra combines stakeholder knowledge with a heuristic evaluation process. We listen, learn, immerse, discover, evaluate and prepare. </h3></div>
    </div>
</div>



<script>
    $(window).load(function(){
    var BV = new $.BigVideo();
    BV.init();
    BV.show('http://localhost:3000/assets/v1.mp4', {
	altSource:'vids/river.ogv'
    });
    
 	$('.tour-menu td').click(function(){

	    var index = $('.tour-menu td').index(this) + 1;
    BV.show('http://localhost:3000/assets/v' + index + '.mp4', {
	altSource:'vids/river.ogv'
    });
	    
	});   
    
    
    })

   
</script>