<% content_for :javascript_includes do %>
  <%= javascript_include_tag "video.js" %>
  <%= javascript_include_tag "tour.js" %>
<% end %>


<div class="filldiv"></div>
<div class="row b-limit-top">

    <div class="large-12 columns">
	<div class="s-limit white-text"><h4>TOUR</h4></div>
	<div class="frame">
	    <table class="menu tour-menu">
		<tr>
		    <td class="tour-nav tour-prev"><img src="assets/ui/white-arrow-left.png"/></td>
		    <td class="tour-nav-title">ENGAGE</td>
		    <td class="tour-nav-title">RESEARCH</td>
		    <td class="tour-nav-title">SYNTHESIZE</td>
		    <td class="tour-nav-title">DESIGN</td>
		    <td class="tour-nav-title">VALIDATE</td>
		    <td class="tour-nav-title">BUILD</td>
		    <td class="tour-nav-title">ANALYZE</td>
		    <td class="tour-nav-title">OPTIMIZE</td>
		    <td class="tour-nav tour-next"><img src="assets/ui/white-arrow-right.png"/></td>
		</tr>
	    </table>       
	    <div class="tour-arrow small-hide"></div>
	    <div class="keyboard-icon small-hide"></div>

	</div>
    </div>
    <div class="large-9 left columns m-limit-top tour-single-slogan">
	<h1 class="blue-noise-bg inline-inline big-line-height">fffff journey begins with conversations, evaluations and lots of notes.</h1>
	<div><h3 class="white-bg s-padding oxygen">Mantra combines stakeholder knowledge with a heuristic evaluation process. We listen, learn, immerse, discover, evaluate and prepare. </h3></div>
    </div>
    <div class="large-9 left columns m-limit-top tour-single-slogan">

	<h1 class="blue-noise-bg inline-inline big-line-height">Our journey begins with conversations, evaluations and lots of notes.</h1>
	<div><h3 class="white-bg s-padding oxygen">Mantra combines stakeholder knowledge with a heuristic evaluation process. We listen, learn, immerse, discover, evaluate and prepare. </h3></div>
    </div>
    <div class="large-10 left columns m-limit-top tour-single-slogan">

	<h1 class="blue-noise-bg inline-inline big-line-height">Our user research methods establish a critical path for product development.</h1>
	<div class="row m-limit collapse">
	    <a href="#"><div class="large-2 small-3 columns s-padding pdf"></div>	    </a>
	    <div class="large-10 small-9 columns">
		<h3 class="white-bg s-padding oxygen">Mantra’s HCI team finds the correct method to learn about your users and goals. We find patterns, distinction and clarity within the complexities. </h3>
	    </div>
	</div>

    </div>
    <div class="large-9 left columns m-limit-top tour-single-slogan">
	<h1 class="blue-noise-bg inline-inline big-line-height">Our research quickly converts into creative strategy.</h1>
	<div><h3 class="white-bg s-padding oxygen">Our synthesis manifests as “design fuel” - useful insights on users motivations, barriers, questions and attitudes. </h3></div>
    </div>
    <div class="large-9 left columns m-limit-top tour-single-slogan">
	<h1 class="blue-noise-bg inline-inline big-line-height">We design interfaces that users will enjoy.</h1>
	<div><h3 class="white-bg s-padding oxygen">Our UX leadership helps UI Designers create interfaces that enable users to acheive their goals without friction.</h3></div>
    </div>
    <div class="large-9 left columns m-limit-top tour-single-slogan">
	<h1 class="blue-noise-bg inline-inline big-line-height">Before writing code, we validate prototypes with real users.
	</h1>
	<div><h3 class="white-bg s-padding oxygen">Mantra has a knack for finding out where we are wrong before investing in development. Learn more about this process. </h3></div>
    </div>
    <div class="large-9 left columns m-limit-top tour-single-slogan">
	<h1 class="blue-noise-bg inline-inline big-line-height">We roll MVAP's (minimum viable awesome products).</h1>
	<div><h3 class="white-bg s-padding oxygen">Whether you're kickstarter team or supplemental development partner, we’ve been through battle together. Mantra was born ready to ship product. </h3></div>
    </div>
    <div class="large-10 left columns m-limit-top tour-single-slogan">
	<h1 class="blue-noise-bg inline-inline big-line-height">We intuitively understand what to measure once we launch.</h1>
	<div><h3 class="white-bg s-padding oxygen">Collecting insights from live market data helps us understand where improvements need to be made.</h3></div>
    </div>
    <div class="large-9 left columns m-limit-top tour-single-slogan">
	<h1 class="blue-noise-bg inline-inline big-line-height">Let's engineer our own luck, together. </h1>
	<div><h3 class="white-bg s-padding oxygen">A successful product in today's market is never an
		accident. Success is predicated on careful optimization.</h3></div>
    </div>


</div>

