<div class="row fullwidth ux-container small-no-limit-top">
    <div class="large-6 size-animation columns strethdown ovfh small-height-auto  ovfa ux-left">
	<div class="ux-next h3">NEXT</div>
	<div class="s-limit-top">
	    <div class="backarrow vmiddle"></div>
	    <div class="h4 inline vmiddle go-back oxygen"><a href="/">GO BACK</a></div>
	</div>

	<!----------------------------------!-->

	<div class="ux-slide-left active ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">Design</div>
	    <div class="h2 georgia s-limit-top">We design beatiful products that function well.</div>
	    <p class="oxygen m-limit m-limit-top h4">
	    	From identity to wireframes and user interfaces, to content strategy and photography, our cohesive design process helps our clients launch products that delight their users.<br /></br />
	    </p>

	</div>

	<div class="ux-slide-left ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">Branding &amp; Identity</div>
	    <div class="h2 georgia s-limit-top">The links between business, brand and consumer has never been more vital for commercial success.</div>
	    <p class="oxygen m-limit m-limit-top h4">We help businesses clarify their brand goals, establish their brands message and image. With visual harmony across design, content and media, we help brands build a thorough brand presence from the onset.</p>
	</div>
		<div class="ux-slide-left ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">Information Architecture</div>
	    <div class="h2 georgia s-limit-top">Blueprints provide early visibility into the applications design - while giving product owners the opportunity to adjust their strategy early on.</div>
	    <p class="oxygen m-limit m-limit-top h4">
		We love process and diagrams. The faster we can illustrate information and ideas, the better. Expect quick turnarounds on IA deliverables that put contextual information into perspective.
			    </p>
			</div>

	<div class="ux-slide-left ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">Workflow</div>
	    <div class="h2 georgia s-limit-top">Workflow diagramming is the DNA of our design process.</div>
	    <p class="oxygen m-limit m-limit-top h4">These motions are the secret sauce behind innovation. They force designers to think about use cases and scenarios. From a process perspective, designing workflows helps us flesh out all the detail.</p>
	</div>

	<div class="ux-slide-left ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">Film &amp; Photography</div>
	    <div class="h2 georgia s-limit-top">Mantra works with so much film and video, we employ full time cinematographers and photographers to help us create high end visuals.</div>
	    <p class="oxygen m-limit m-limit-top h4">We love providing consumers with a clear picture. Our film and photography services range from live motion interviews to complete commercial productions.</p>
	</div>
	<div class="ux-slide-left ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">Content Strategy</div>
	    <div class="h2 georgia s-limit-top">Mantra works with the best copywriters to produce strategic content inline with business and product objectives.</div>
	    <p class="oxygen m-limit m-limit-top h4">From mission and vision statemetns to storylines and web copy, content strategy and copywriting is a core discipline at Mantra - never an after-thought.</p>
	</div>
	<div class="ux-slide-left ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">User Interface</div>
	    <div class="h2 georgia s-limit-top">The goal of user interface design is to make the user's interaction as simple and efficient as possible, in terms of accomplishing user goals,</div>
	    <p class="oxygen m-limit m-limit-top h4">As everything comes together, our user interfaces are supplied with content, photography, workflows and guidelines for producing epic finished designs.</p>
	</div>

    </div>



    <div class="large-6 size-animation columns ux-right strethdown ovfh no-padding-left left">

	<div class="ux-slide-right active ux-slider">
	    <div class="img-slider-nav">
		<div class="circle small white-bg inline"></div>
		<div class="circle small white-bg inline"></div>
		<div class="circle small white-bg inline"></div>		
	    </div>
	    <div class="absfill ux-slider-single" style="background-image: url(assets/ux/ui1.jpg);"></div>
	    <div class="absfill ux-slider-single" style="background-image: url(assets/ux/ui3.jpg);"></div>
	    <div class="absfill ux-slider-single" style="background-image: url(assets/ux/hacker3.jpg);"></div>
	</div>
	<div class="ux-slide-right">
	    <div class="absfill" style="background-image: url(assets/ux/logo3.jpg);"></div>	    
	</div>	
	<div class="ux-slide-right">
	    <div class="absfill" style="background-image: url(assets/ux/info.jpg);"></div>	    
	</div>	
	<div class="ux-slide-right">
	    <div class="absfill" style="background-image: url(assets/ux/workflow.jpg);"></div>	    
	</div>
	
	<div class="ux-slide-right">
	    <div class="absfill" style="background-image: url(assets/ux/red.jpg);"></div>	    
	</div>
	<div class="ux-slide-right">
	    <div class="absfill" style="background-image: url(assets/ux/boards.jpg);"></div>	    
	</div>
	<div class="ux-slide-right">
	    <div class="absfill" style="background-image: url(assets/ux/ui2.jpg);"></div>	    
	</div>



</div>
<style>
    #rightbar {display: none !important;}
</style>
<script>
    $(document).ready(function(){
	$('.ux-slide-left.active').cascade();	
	$('.ux-next').click(function(){	
	
	    var left = $('.ux-slide-left.active');
	    var right = $('.ux-slide-right.active');

	    if ( right.nextOrFirst().hasClass('slide-with-video') ) {
		$('.ux-left').removeClass('large-6').addClass('large-4');
		$('.ux-right').removeClass('large-6').addClass('large-8');
    
	    } else {
		$('.ux-left').removeClass('large-4').addClass('large-6');
		$('.ux-right').removeClass('large-8').addClass('large-6');    
	    }
	
	    $('.ux-slide-left.last').removeClass('last')
	    left.addClass('last').removeClass('active').nextOrFirst('.ux-slide-left').addClass('active');
	
	
	    $('.ux-slide-right.last').removeClass('last')
	    right.addClass('last').removeClass('active').nextOrFirst('.ux-slide-right').addClass('active');
	
	
	    $('.ux-slide-left.active').cascade();	
	    $('.ux-slide-right.active').delay(200).fadeSlideIn();
	
	    //$(window).resize();
	    $('.ux-vid').vCenter();
	
	
	
	
	});
    
	//keyboard support (left/right arrow nav)
	$(document).keyup(function(e){			

	    if(e.keyCode == 39 || e.keyCode == 40) {
		$('.ux-next').trigger('click');
	    }
	});  
	
	
	$('.ux-slider').sliding('circle','ux-slider-single');
    
    })    
</script>



