<% content_for :javascript_includes do %>
  <%= javascript_include_tag "video.js" %>
<% end %>

<div class="row fullwidth ux-container small-no-limit-top">
    <div class="large-6 size-animation columns strethdown ovfh small-height-auto  ovfa ux-left">
	<div class="ux-next h3">NEXT</div>
	<div class="s-limit-top">
	    <div class="backarrow vmiddle"></div>
	    <div class="h4 inline vmiddle go-back oxygen"><a href="/">GO BACK</a></div>
	</div>

	<!----------------------------------!-->

	<div class="ux-slide-left active ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">Research</div>
	    <div class="h2 georgia s-limit-top">Mantra UX relies on research to better understand target users attitudes, behaviors and motivations.</div>
	    <p class="oxygen m-limit m-limit-top h4">
	    	Mantra is a research oriented design firm. We believe it is to our clients advantage to understand the phsycology of their users, their goals and what is truly happening in the real world. <br /></br />
	    </p>

	</div>
	<div class="ux-slide-left ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">User Research</div>
	    <div class="h2 georgia s-limit-top">Our user research methods ensure we are creating the right features at the right time, for the right audience.</div>
	    <p class="oxygen m-limit m-limit-top h4">
Mantra's user research methods help qualify and quantify just who we are designing for and what they want. While we can't use the full set of methods on every project, we combine insights from multiple research methods before development, during and after a products been released. The key question is what to do when.
<br /> <br />

Our research can be any of the following depending on the situation and state of the business:
<ul class="oxygen h4" style="font-size:14px;">
	<li>Data mining</li>
	<li>Literature review</li>
	<li>Analytics</li>
	<li>Email surveys</li>
	<li>Lab-based usability studies</li>
	<li>One-on-one interviews</li>
	<li>Ethnographic field studies</li>
	<li>Emotion tracking</li>
	<li>Card sorting</li>
	<li>Speak-aloud sessions</li>
	<li>Desirability studies</li>
	<li>A/B testing</li>
</ul>
<br /><br />
	    </p>
	</div>
	<div class="ux-slide-left ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">Evaluations</div>
	    <div class="h2 georgia s-limit-top">Big problems are are often obvious. Let's fix those right away.</div>
	    <p class="oxygen m-limit m-limit-top h4"> We don't need a team of scientists to begin fixing important issues, detect oversights and to help prioritize based on our experience. We've designed enough products to know when there is an obvious pattern or opportunity. Our heuristic evaluation process is typically an easy place for us to start working with existing product owners who need immediate improvement.</p>
	</div>

	<div class="ux-slide-left ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">Consumer Journey Mapping</div>
	    <div class="h2 georgia s-limit-top">We help companies put into perspective their consumers' journey, from initial awareness scenarios through to action. </div>
	    <p class="oxygen m-limit m-limit-top h4">Within each initial stage of the journey, there exists a matrix of questions, motivations, barriers and activity. Framing this holistic view of your consumers path to adoption is a priceless exercise and can serve as a cross-disciplinary creative strategy for executives, copywriters, architects, marketers and designers.</p>
	</div>

	<div class="ux-slide-left ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">Market Research</div>
	    <div class="h2 georgia s-limit-top">Consumer behavior, emotionomics and today's internet users elusive desires should be relatively understood.</div>
	    <p class="oxygen m-limit m-limit-top h4">Once your product is successfully conneting with your audience and your product is ready for scale, Mantra can help identify strategic market opportunities for acquiring customers.</p>
	</div>
	

    </div>



    <div class="large-6 size-animation columns ux-right strethdown ovfh no-padding-left left">

	<div class="ux-slide-right active ux-slider">
	    <div class="img-slider-nav">
		<div class="circle small white-bg inline"></div>
		<div class="circle small white-bg inline"></div>
		<div class="circle small white-bg inline"></div>		
	    </div>
	    <div class="absfill ux-slider-single" style="background-image: url(assets/ux/research2.jpg);"></div>
	    <div class="absfill ux-slider-single" style="background-image: url(assets/ux/leadership.jpg);"></div>
	    <div class="absfill ux-slider-single" style="background-image: url(assets/ux/strategy2.jpg);"></div>
	</div>
	<div class="ux-slide-right slide-with-video">
	    <div class="ux-vid">
		<iframe width="100%" height="100%" src="http://www.youtube.com/embed/S3RmyN6RbMU?wmode=opaque" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	    </div>	    
	</div>	
	<div class="ux-slide-right slide-with-video">
	    <div class="ux-vid">
		<iframe width="100%" height="100%" src="http://www.youtube.com/embed/NaujjKBGzLU?wmode=opaque" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	    </div>	    
	</div>	
	<div class="ux-slide-right slide-with-video">
	    <div class="ux-vid">
		<iframe width="100%" height="100%" src="http://www.youtube.com/embed/JHlzvuXiqxg?wmode=opaque" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	    </div>	    
	</div>
	<div class="ux-slide-right slide-with-video">
	    <div class="ux-vid">
		<iframe width="100%" height="100%" src="http://www.youtube.com/embed/bLE6KMXcS4E?wmode=opaque" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	    </div>	    
	</div>		
	
	


    </div>
</div>
<style>
    #rightbar {display: none !important;}
</style>
<script>
    $(document).ready(function(){
	$('.ux-slide-left.active').cascade();	
	$('.ux-next').click(function(){	
	
	    var left = $('.ux-slide-left.active');
	    var right = $('.ux-slide-right.active');

	    if ( right.nextOrFirst().hasClass('slide-with-video') ) {
		$('.ux-left').removeClass('large-6').addClass('large-4');
		$('.ux-right').removeClass('large-6').addClass('large-8');
    
	    } else {
		$('.ux-left').removeClass('large-4').addClass('large-6');
		$('.ux-right').removeClass('large-8').addClass('large-6');    
	    }
	
	    $('.ux-slide-left.last').removeClass('last')
	    left.addClass('last').removeClass('active').nextOrFirst('.ux-slide-left').addClass('active');
	
	
	    $('.ux-slide-right.last').removeClass('last')
	    right.addClass('last').removeClass('active').nextOrFirst('.ux-slide-right').addClass('active');
	
	
	    $('.ux-slide-left.active').cascade();	
	    $('.ux-slide-right.active').delay(200).fadeSlideIn();
	
	    //$(window).resize();
	    $('.ux-vid').vCenter();
	
	
	
	
	});
    
	//keyboard support (left/right arrow nav)
	$(document).keyup(function(e){			

	    if(e.keyCode == 39 || e.keyCode == 40) {
		$('.ux-next').trigger('click');
	    }
	});  
	
	
	$('.ux-slider').sliding('circle','ux-slider-single');
    
    })    
</script>



