<div class="row fullwidth">
    <div class="large-6 columns strethdown ovfh small-height-auto">
	<div class="ux-next h3">NEXT</div>
	<div class="b-limit-top">
	    <div class="backarrow vmiddle"></div>
	    <div class="h4 inline vmiddle">Go back</div>
	</div>

	<!----------------------------------!-->

	<div class="ux-slide-left active">
	    <div class="h1 gray-mark inline s-padding m-limit-top">MantraUX</div>
	    <div class="h2 georgia s-limit-top">We are a design and strategy firm based in Chicago. We work with companies to create best in class products</div>
	    <p class="oxygen m-limit m-limit-top h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet condimentum arcu id feugiat. Pellentesque dignissim congue ultricies. Vestibulum eleifend vulputate erat, ac imperdiet tellus placerat non. Phasellus at ante ac ante molestie condimentum ut a elit. Phasellus nec odio sit amet quam scelerisque egestas. Nullam sed suscipit lacus. Aenean sit amet turpis quis eros semper ullamcorper et eu neque. Duis purus erat, sagittis eget mollis ac, dignissim sed quam. Sed gravida dui sed nulla ornare dictum. Ut sed ante quis metus lacinia mattis. Duis nunc ligula, dictum sit amet mollis eu, luctus sed metus. Suspendisse aliquam rhoncus diam sed faucibus.</p>
	    <p class="oxygen b-limit h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet condimentum arcu id feugiat. Pellentesque dignissim congue ultricies. Vestibulum eleifend vulputate erat, ac imperdiet tellus placerat non. Phasellus at ante ac ante molestie condimentum ut a elit. Phasellus nec odio sit amet quam scelerisque egestas. Nullam sed suscipit lacus. Aenean sit amet turpis quis eros semper ullamcorper et eu neque. Duis purus erat, sagittis eget mollis ac, dignissim sed quam. Sed gravida dui sed nulla ornare dictum. Ut sed ante quis metus lacinia mattis. Duis nunc ligula, dictum sit amet mollis eu, luctus sed metus. Suspendisse aliquam rhoncus diam sed faucibus.</p>
	</div>
	
	<div class="ux-slide-left ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">Some UX</div>
	    <div class="h2 georgia s-limit-top">We are a design and strategy firm based in Chicago. We work with companies to create best in class products</div>
	    <p class="oxygen m-limit m-limit-top h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet condimentum arcu id feugiat. Pellentesque dignissim congue ultricies. Vestibulum eleifend vulputate erat, ac imperdiet tellus placerat non. Phasellus at ante ac ante molestie condimentum ut a elit. Phasellus nec odio sit amet quam scelerisque egestas. Nullam sed suscipit lacus. Aenean sit amet turpis quis eros semper ullamcorper et eu neque. Duis purus erat, sagittis eget mollis ac, dignissim sed quam. Sed gravida dui sed nulla ornare dictum. Ut sed ante quis metus lacinia mattis. Duis nunc ligula, dictum sit amet mollis eu, luctus sed metus. Suspendisse aliquam rhoncus diam sed faucibus.</p>
	    <p class="oxygen b-limit h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet condimentum arcu id feugiat. Pellentesque dignissim congue ultricies. Vestibulum eleifend vulputate erat, ac imperdiet tellus placerat non. Phasellus at ante ac ante molestie condimentum ut a elit. Phasellus nec odio sit amet quam scelerisque egestas. Nullam sed suscipit lacus. Aenean sit amet turpis quis eros semper ullamcorper et eu neque. Duis purus erat, sagittis eget mollis ac, dignissim sed quam. Sed gravida dui sed nulla ornare dictum. Ut sed ante quis metus lacinia mattis. Duis nunc ligula, dictum sit amet mollis eu, luctus sed metus. Suspendisse aliquam rhoncus diam sed faucibus.</p>
	</div>
	
	<div class="ux-slide-left ">
	    <div class="h1 gray-mark inline s-padding m-limit-top">Another UX</div>
	    <div class="h2 georgia s-limit-top">We are a design and strategy firm based in Chicago. We work with companies to create best in class products</div>
	    <p class="oxygen m-limit m-limit-top h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet condimentum arcu id feugiat. Pellentesque dignissim congue ultricies. Vestibulum eleifend vulputate erat, ac imperdiet tellus placerat non. Phasellus at ante ac ante molestie condimentum ut a elit. Phasellus nec odio sit amet quam scelerisque egestas. Nullam sed suscipit lacus. Aenean sit amet turpis quis eros semper ullamcorper et eu neque. Duis purus erat, sagittis eget mollis ac, dignissim sed quam. Sed gravida dui sed nulla ornare dictum. Ut sed ante quis metus lacinia mattis. Duis nunc ligula, dictum sit amet mollis eu, luctus sed metus. Suspendisse aliquam rhoncus diam sed faucibus.</p>
	    <p class="oxygen b-limit h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet condimentum arcu id feugiat. Pellentesque dignissim congue ultricies. Vestibulum eleifend vulputate erat, ac imperdiet tellus placerat non. Phasellus at ante ac ante molestie condimentum ut a elit. Phasellus nec odio sit amet quam scelerisque egestas. Nullam sed suscipit lacus. Aenean sit amet turpis quis eros semper ullamcorper et eu neque. Duis purus erat, sagittis eget mollis ac, dignissim sed quam. Sed gravida dui sed nulla ornare dictum. Ut sed ante quis metus lacinia mattis. Duis nunc ligula, dictum sit amet mollis eu, luctus sed metus. Suspendisse aliquam rhoncus diam sed faucibus.</p>
	</div>	
    </div>



    <div class="large-6 columns ux-right strethdown ovfh">
	
	<div class="ux-slide-right active">
	    <div class="absfill" style="background-image: url(assets/bgs/home_bg3.jpg);"></div>	    
	</div>
	<div class="ux-slide-right ">
	    <div class="ux-vid">
		<iframe width="100%" height="100%" src="http://www.youtube.com/embed/h2YkqGKMxuY" frameborder="0" allowfullscreen></iframe>
	    </div>	    
	</div>
	<div class="ux-slide-right ">
	    <div class="ux-vid"><iframe src="http://player.vimeo.com/video/8055192" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>	    
	</div>
		
	
    </div>
</div>
<style>
    #rightbar {display: none !important;}
</style>
<script>
$(document).ready(function(){
    $('.ux-slide-left.active').cascade();	
    $('.ux-next').click(function(){
	
	var left = $('.ux-slide-left.active');
	var right = $('.ux-slide-right.active');
	$('.ux-slide-left.last').removeClass('last')
	left.addClass('last').removeClass('active').nextOrFirst('.ux-slide-left').addClass('active');
	$('.ux-slide-right.last').removeClass('last')
	right.addClass('last').removeClass('active').nextOrFirst('.ux-slide-right').addClass('active');
	$('.ux-slide-left.active').cascade();	
	$('.ux-slide-right.active').delay(200).fadeSlideIn();
	$(window).resize();
	$('.ux-vid').vCenter();
    });
})    
</script>
    


