<video id="videoTag" autoplay="true" controls="false" loop="true" preload="true" muted="true">
  <source id="videoSrc" src="/assets/wind.mp4" type="video/mp4">
 
 
  Your browser does not support the video tag.
</video>
<div class="row">

    <div class="large-6 columns blue-noise-bg m-padding">
	<h1>We create mobile and web experiences, <em>together...</em></h1>
	<h2 class="oxygen">- with entrepenours and rising companies. Get a feel for our process and work environment.</h2>	
    </div>
    <div class="large-5 columns right">
	<span class="black-transparent-bg oxygen h2">“We think what Mantra is doing is fantastic and we are glad we are a part of it,” <em>Brad Keywell</em></span>
    </div>
</div>



