
<div class="work-single-header">
    <div class="row">
	<div class="large-8 left columns text-left">

	    <h1 class="text-shadow">We saved Body Shop Bids from getting rear-ended twice.</h1>
	</div>
    </div>
</div>

<div class="work-single-info">
    <div class="row b-limit">
	<div class="large-12 columns">
	    <div class="text-center">
		<h2 class="oxygen">
		    When Body Shops Bid, You Save! Get auto repair estimates by photo from the best body shops in town, all right from your phone!
		</h2>
	    </div>
	</div>
    </div>

<div class="row m-limit divider">
    	<div class="large-12 columns">
			<div class="large-12 center columns">
				<br /><br />
			    

			    	<div class="large-6 columns text-left">
			    		<h1 class="s-limit">Styleboarding</h1>
			    		<p class="h4 oxygen">We wanted to validate on paper before we went through the process of animating. Here's what we came up with.<br /><br /></p>
				    	<img src="assets/works/bsb-1.jpg"/>
					</div>
					<div class="large-6 columns text-left">
						<h1 class="s-limit">Animated Video</h1>
			    		<p class="h4 oxygen">We directed and produced this video with the help of Loose Keys, our friends who animated the famous Groupon Works videos.</p>
					    <img src="assets/works/bsb-2.jpg"/>
			    <br /><br />

					</div>

			    <br /><br />
			</div>
		</div>
    </div>

    <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Web App User Interface
			    </h1>
			    <p class="h4 oxygen">
				Body Shop Bids knows one thing for sure. If it’s not easy, people won’t do it. Our experience team fought relenetlessly to simplify and make everything easy.
			    </p>
			    <img src="assets/works/bsb-3.jpg"/>
			</div>
		</div>
    </div>  

    <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Email Strategy &amp; Design
			    </h1>
			    <p class="h4 oxygen">
				The BSB customer experience doesn’t just live in the app, it lives in the sequence of emails and instructions sent to ensure the customer follows through and completes their transaction - else noone gets paid.
			    </p>
			    <img src="assets/works/bsb-4.jpg"/>
			</div>
		</div>
    </div>  
    <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-5 center columns">
				<img src="assets/works/bsb-5.jpg"/>
			</div>
			<div class="large-6 left columns text-left">
			    <h1 class="s-limit">
				Display Advertising
			    </h1>
			    <p class="h4 oxygen">
				We created these neat little ads and help split test different messaging. Our online marketing experience helped guide the BSB marketing team through the entire process of display, PPC and retargeting.
			    </p>
			    <img src="assets/works/bsb-6.jpg"/>
			</div>
		</div>

    </div>  
     <div class="row m-limit ">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Marketing Website
			    </h1>
			    <p class="h4 oxygen">
				We led the art direction and layout of BSB’s marketing website, creating most of the graphical elements, content and icons. Our collaboration with in-house designers and marketers at BSB helped craft a battle tested conversion centric website.<br /><br />
			    </p>
			    <img src="assets/works/bsb-7.jpg"/>
			</div>
		</div>
    </div>  
    <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Usability
			    </h1>
			    <p class="h4 oxygen">
				We evaluated and improved BSB’s submission process, seeking every opportunity to make each field intuitive, elimate what wasn’t needed while offering visual instruction to users as needed.<br /><br />
			    </p>
			    <img src="assets/works/bsb-8.jpg"/>
			</div>
		</div>
    </div>  
    <div class="row center m-limit">
		<div class="large-12 columns">
			<p class="h4 oxygen">
			Check out <a href="http://bodyshopbids.com">bodyshopbids.com</a> on the web.
			</p>
		</div>
		
    </div>  

</div>

