
<div class="work-single-header">
    <div class="row">
	<div class="large-6 right columns text-right">

	    <h1 class="text-shadow">Mantra was chosen to help BFI kickstart a global movement.</h1>
	</div>
    </div>
</div>

<div class="work-single-info">
    <div class="row b-limit">
	<div class="large-12 columns">
	    <div class="text-center">
		<h2 class="oxygen">
		    Mantra is helping BFI build the kickstart for non-profits. A global initiative, Mantra is pushing the limits of non-profit technology design.
		</h2>
	    </div>
	</div>
    </div>

	<div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
		
			    <h1 class="s-limit">
				Web App Design &amp; Development
			    </h1>
			    <p class="h4 oxygen">
				Mantra has designed and developed BFI's online platform for helping charities get what they need.
			    </p>
			</div>
		</div>
		<div class="large-12 center columns">
	
	    	<img src="assets/works/bfi-1.jpg"/>
		</div>
    </div>  



    <div class="row m-limit divider">
	<div class="large-6 columns">

	    <h1 class="s-limit">
		Gamification
	    </h1>
	    <p class="h3 oxygen">
		We're discovering game-like ways to gamify supporting local charities along with intelligent ways to integrate the social graph.
	    </p>
	</div>

	<div class="large-6 columns">

	    <img src="assets/works/bfi-3.jpg"/>
	</div>
    </div>

    <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
		
			    <h1 class="s-limit">
				Market Strategy &amp; Incubation
			    </h1>
			    <p class="h4 oxygen">
				Mantra is helping BFI incubate it's product, onboard it's initial causes and itereate for the next 24 months until traction is solid.
			    </p>
			</div>
		</div>
		<div class="large-12 center columns">
	
	    	<img src="assets/works/bfi-5.jpg"/>
		</div>
    </div>  





</div>

