
<div class="work-single-header">
    <div class="row">
	<div class="large-6 right columns text-right">

	    <h1 class="text-shadow">Meet Chatyeo, our perpetual sandbox project.</h1>
	</div>
    </div>
</div>

<div class="work-single-info">
    <div class="row b-limit">
	<div class="large-12 columns">
	    <div class="text-center">
		<h2 class="oxygen">
		    Chatyeo combines chat and search for a kinky peer-to-peer visual experience. It’s an ever-evolving experimental project of ours we love to love.
		</h2>
	    </div>
	</div>
    </div>

    <div class="row m-limit divider">
		<div class="large-6 columns">
		    <h1 class="s-limit">
			New Idea
		    </h1>
		    <p class="h4 oxygen">
			We're always tinkering with something. Chatyeo has been a pet project of ours for more than 6 years. 
		    </p>
		     <img src="assets/works/chat-1.jpg"/>
		</div>
		<div class="large-6 columns">
		    <img src="assets/works/chat-2.jpg"/>
		</div>
    </div>

    <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Agent Based System Design &amp; Research
			    </h1>
			    <p class="h4 oxygen">
				Chatyeo is a mirror of our personal interests in machine learning, artificial intelligence and concurrent programming paradigms.
			    </p>
			    <img src="assets/works/chat-3.jpg"/>


			</div>
		</div>
    </div>  
    <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Rapid Prototyping
			    </h1>
			    <p class="h4 oxygen">
				We like throwing our ideas to the wall and seeing if they stick. Actually, we like throwing our prototypes at people and see if they can catch.
			    </p>
			    <img src="assets/works/chat-4.jpg"/>


			</div>
		</div>
    </div> 
    <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Mobile Experience Design
			    </h1>
			    <p class="h4 oxygen">
				Chatyeo was our first mobile ux project and it went - so, so. We've learned a lot since then. Everyone has to start somewhere.
			    </p>
			    <img src="assets/works/chat-5.jpg"/>


			</div>
		</div>
    </div> 
    <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Web Commercial
			    </h1>
			    <p class="h4 oxygen">
				Mantra leveraged focus groups and intern speak-aloud sessions to design the perfect video trailer for Chatyeo. 
			    </p>
			     <img src="assets/works/chat-6.jpg"/>


			</div>
		</div>
    </div> 

   <div class="row center m-limit ">
		<div class="large-12 columns">
			<p class="h4 oxygen">
			Check out <a href="/chatyeo/chatyeo/chat.html" target="_new">Chatyeo.com</a> on the web.
			</p>
		</div>
		
    </div>  


      
</div>

