
<div class="work-single-header">
    <div class="row">
	<div class="large-8 right columns text-right">
	    
	    <h2>Monthly lorem ipsum item info</h2>
	</div>
    </div>
</div>

<div class="work-single-info">
    <div class="row">
	<div class="large-12 columns">
	    <div class="text-center">
		<h2>
		    Imagine an app where you could turn your lawn care service on with the flip of a switch or have staple foods automatically delivered to your door each week
		</h2>
	    </div>
	</div>
    </div>
</div>

