
<div class="work-single-header">
    <div class="row">
	<div class="large-6 right columns text-right">

	    <h1 class="text-shadow">Sell anything on all major marketplaces with one app.</h1>
	</div>
    </div>
</div>

<div class="work-single-info">
    <div class="row b-limit">
	<div class="large-12 columns">
	    <div class="text-center">
		<h2 class="oxygen">
		    Sell on Craigslist, Ebay, Amazon, Etsy, Facebook and Twitter with a couple snaps and taps. SellSimple is the first to achieve number one in lifestyle on the app store for this category.
		</h2>
	    </div>
	</div>
    </div>
    <div class="row m-limit">
	<div class="large-6 columns">

	    <h1 class="s-limit">
		Branding
	    </h1>
	    <p class="h3 oxygen">
		The goal was to vizualize the brand with personality and character. This fresh form of inspiration later transcended into all aspects of the Monthlys experience
	    </p>
	</div>

	<div class="large-6 columns">

	    <img src="assets/works/d1.jpg"/>
	</div>
    </div>
    <div class="row m-limit">
	<div class="large-12 columns">

	    <img src="assets/works/d2.jpg"/>
	</div>
    </div>     
</div>


