
<div class="work-single-header">
    <div class="row">
	<div class="large-8 right columns text-right">

	    <h1 class="text-shadow">We helped Poggled pivot and re-brand <Br />as Tagkast.</h1>
	</div>
    </div>
</div>

<div class="work-single-info">
    <div class="row b-limit">
	<div class="large-12 columns">
	    <div class="text-center">
		<h2 class="oxygen">
		    Tagkast gets your customers to show their friends how much they love your business. Mantra helped Tagkast realize it’s product vision, identity and experience, quickly.
		</h2>
	    </div>
	</div>
    </div>

 <div class="row m-limit divider">
		<div class="large-6 columns">
		    <h1 class="s-limit">
			Branding
		    </h1>
		    <p class="h4 oxygen">
			Poggled discovered something amazing while hard at work. Tagkast. An experiential marketing by-product that would need an awesome start. We gave that special something-something to Tagkast.
		    </p>
		</div>
		<div class="large-6 columns">
		    <img src="assets/works/tag-1.jpg"/>
		</div>
    </div>


<div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Iconography
			    </h1>
			    <p class="h4 oxygen">
				You have to stand out in todays crowded marketplace and find parity amongst other apps your users are accustomed to. We created Tagkast's icon library.
			    </p>
			    <img src="assets/works/tag-2.jpg"/>


			</div>
		</div>
    </div>  

<div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				User Interface Design
			    </h1>
			    <p class="h4 oxygen">
				First impressions mean everything, especially when pitching an enterprise platform. We took the market by surprise with stellar designs and well thought out, simplified user experiences.<br /><br />
			    </p>
			    <img src="assets/works/tag-3.jpg"/>


			</div>
		</div>
    </div> 

<div class="row m-limit divider">
		<div class="large-12 columns">
			
			<div class="large-6 left columns text-left">
			    <h1 class="s-limit">
				Ruby on Rails
			    </h1>
			    <p class="h4 oxygen">
				We developed the complete Tagkast web application using Ruby on Rails.<br /><br />
			    </p>
			    <img src="assets/works/tag-5.jpg"/>
			</div>
			<div class="large-6 center columns">
				<img src="assets/works/tag-4.jpg"/>
			</div>
		</div>

    </div> 




<div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Android Design &amp; Development
			    </h1>
			    <p class="h4 oxygen">
				We designed and developed Tagkast 2.0 in Android, an experiential marketing app that connects wirelessly to DSLR cameras.<br /><br />
			    </p>
			    <img src="assets/works/tag-6.jpg"/>


			</div>
		</div>
    </div> 
     

     <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Marketing Website
			    </h1>
			    <p class="h4 oxygen">
				We designed and built Tagkast's marketing website so sales reps could kick butt. Our challenge was to quickly adopt to feedback in the field and to keep up with the goals of a rapidly changing product.<br /><br />
			    </p>
			    <img src="assets/works/tag-8.jpg"/>


			</div>
		</div>
    </div> 



        <div class="row center m-limit">
		<div class="large-12 columns">
			<p class="h4 oxygen">
			Check out <a href="http://tagkast.com">Tagkast.com</a> on the web.
			</p>
		</div>
		
    </div>  
</div>

