
<div class="work-single-header">
    <div class="row">
		<div class="large-8 right columns text-right">
		    <h1 class="text-shadow">Local goods and services as a subscription.</h1>
		</div>
    </div>
</div>

<div class="work-single-info">
    <div class="row b-limit">
		<div class="large-12 columns">
		    <div class="text-center">
				<h2 class="oxygen">
				    Imagine an app where you could turn your lawn care service on with the flip of a switch or have staple foods automatically delivered to your door each week
				</h2>
		    </div>
		</div>
    </div>
    <div class="row m-limit">
		<div class="large-6 columns">
		    <h1 class="s-limit">
			Branding
		    </h1>
		    <p class="h4 oxygen">
			The goal was to vizualize the brand with personality and character. This fresh form of inspiration later transcended into all aspects of the Monthlys experience
		    </p>
		</div>
		<div class="large-6 columns">
		    <img src="assets/works/d1.jpg"/>
		</div>
    </div>

    <div class="row m-limit divider">
		<div class="large-12 columns">
		    <img src="assets/works/d2.jpg"/>
		</div>
    </div>

    <div class="row m-limit">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Style Guide
			    </h1>
			    <p class="h4 oxygen">
				We translated our Photoshop style guide to a working CSS3 &amp; HTML5 document for our developers. Otherwise known as an IxD framework, we’re known for creating tradeoffs when we do how we do.
			    </p>
			</div>
		</div>
    </div>  

	<div class="large-12 center columns">
	    <img src="assets/works/d3.jpg"/>
	</div>
	<div class="spacer">&nbsp;</div>
	<div class="row m-limit divider">
		<div class="large-6 columns">
		    <img src="assets/works/d4.jpg"/>
		</div>
		<div class="large-6 columns">
		    <h1 class="s-limit">
			Live Motion Web Commercial
		    </h1>
		    <p class="h4 oxygen">
			We shot this web commercial on the Red Epic. The finished product spectacularized the Monthlys brand and brought instant credibility to our vision.
		    </p>
		</div>
		<div class="large-12 center columns">
		
		    <img src="assets/works/d5.jpg"/>
		</div>
    </div>

    <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
		
			    <h1 class="s-limit">
				User Interface, HTML 5 &amp; CSS3
			    </h1>
			    <p class="h4 oxygen">
				Our watcheful eye over the performance of the site kept our guts in check with what needed to be done versus what was nice to have. We work hard to ensure we're always moving in a better direction.
			    </p>
			</div>
		</div>
		<div class="large-12 center columns">
	
	    	<img src="assets/works/d6.jpg"/>
		</div>
    </div>  

    <div class="row m-limit divider">
    	<div class="large-12 columns">
			<div class="large-12 center columns">
				<br /><br />
			    <h1 class="s-limit">
				Animated Explainer Video
			    </h1>

			    	<div class="large-6 columns">
				    	<img src="assets/works/d7.jpg"/>
					</div>
					<div class="large-6 columns">
					    <img src="assets/works/d9.jpg"/>
			    <br /><br />
			    <br />
					</div>

			    <p class="h4 oxygen">
				Our process of storyboarding kept costs down and creativity maxed out - a tradeoff as we like to call it. We partnered up with Loose Keys to finish the video and give it the perfect touch.
			    </p>
			</div>
		</div>
    </div>

    <div class="row center m-limit divider">
		<div class="large-5 left columns text-left">
		    <h1 class="s-limit">
			Ad Strategy
		    </h1>
		    <p class="h4 oxygen">
			We designed tailored ads and landing page pairs in a gang of verticals to capture leads. These leads would later be funneled into our activation email sequence.
		    </p>
		</div>
		<div class="large-7 left columns text-left">
		    <img src="assets/works/d10.jpg"/>
		</div>
    </div>
    <div class="row center m-limit divider">
		<div class="large-6 left columns text-left">
			<img src="assets/works/d11.jpg"/>
		    
		</div>
		<div class="large-5 left columns text-left">
		    <h1 class="s-limit">
			Lead Generation
		    </h1>
		    <p class="h4 oxygen">
			We used the same ads to fuel third party lead generation programs, email acquisition strategies and online conversion..
		    </p>
		</div>
    </div>

      <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
				<br /><br />
			    <h1 class="s-limit">
				Activation &amp; Retention Strategy
			    </h1>
			    <p class="h4 oxygen">
				We worked with Monthlys marketing team on activation and retention strategies to encrouage first time usage and repeat usage. Our efforts helped activate 2,500 new paying subscribers in 90 days.
			    </p>
			</div>
		</div>
		<div class="large-12 center columns">
		
	    	<img src="assets/works/d12.jpg"/>
		</div>
    </div>  

    <div class="row center m-limit ">
		<div class="large-12 columns">
			<p class="h4 oxygen">
			Check out <a href="http://monthlys.com">Monthlys.com</a> and <a href="http://monthlys.com/business">Monthlys for Business.
			</p>
		</div>
		
    </div>  


</div>   


