<div class="big-shadow"></div>
<div class="row">

    <div class="large-12 columns">
	<div class="s-limit black-text"><h4>OUR WORK</h4></div>
    </div>
    <div class="large-12 columns m-limit">
        
	<h1 class="blue-noise-bg inline-inline">Mantra is a complete lifecycle firm.</h1>	
    </div>
    <div class="large-4 columns work-single s-limit left"><a href="worksingle"><img src="/assets/works/monthlys.jpg"/></a></div>
    <div class="large-4 columns work-single s-limit left"><img src="/assets/works/sellsimple.jpg"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="/assets/works/tagkast.jpg"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="/assets/works/bsb.jpg"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="/assets/works/ciw.jpg"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="/assets/works/benchprep.jpg"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="http://placehold.it/450x450"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="http://placehold.it/450x450"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="http://placehold.it/450x450"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="http://placehold.it/450x450"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="http://placehold.it/450x450"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="http://placehold.it/450x450"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="http://placehold.it/450x450"/></div>
</div>
