
<div class="work-single-header">
    <div class="row">
	<div class="large-8 right columns text-right">

	    <h1 class="text-shadow">Welcome to the ideasphere</h1>
	</div>
    </div>
</div>

<div class="work-single-info">
    <div class="row b-limit">
	<div class="large-12 columns">
	    <div class="text-center">
		<h2 class="oxygen">
		    For one week each October, CIW transforms Chicago into the global hub for new ideas, an ecosystem of innovation and a playground of intellectual recreation
		</h2>
	    </div>
	</div>
    </div>

    <div class="row m-limit divider">
		<div class="large-6 columns">
		    <h1 class="s-limit">
			Conceptual Design
		    </h1>
		    <p class="h4 oxygen">
			We volunteered to help Chicago Ideas Week think outside the box when redesigning their website and identity. Our creative mockups led to the latest art direction featured on ChicagoIdeas.com.
		    </p>
		</div>
		<div class="large-6 columns">
		    <img src="assets/works/ciw-1.jpg"/>
		</div>
    </div>

    <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Annual Report Design
			    </h1>
			    <p class="h4 oxygen">
				We helped Chicago Ideas Week wrap up their 2011 project with an annual report that would look and feel compelling to read, that carried on the excitement of the venue and mission.
			    </p>
			    <img src="assets/works/ciw-2.jpg"/>


			</div>
		</div>
    </div>  

    <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Payment Portal
			    </h1>
			    <p class="h4 oxygen">
				We helped CIW design their new website features and helped strategize on content and user experience.
			    </p>
			    <img src="assets/works/ciw-10.jpg"/>


			</div>
		</div>
    </div>  
    <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Ticketing Design
			    </h1>
			    <p class="h4 oxygen">
				We helped CIW design their new website features and helped strategize on content and user experience.
			    </p>
			    <img src="assets/works/ciw-11.jpg"/>


			</div>
		</div>
    </div>  


    <div class="row center m-limit">
		<div class="large-12 columns">
			<p class="h4 oxygen">
			Check out <a href="http://chicagoideas.com">ChicagoIdeas.com</a> on the web.
			</p>
		</div>
		
    </div>  


       
</div>

