<div class="big-shadow"></div>
<div class="row">

    <div class="large-12 columns">
	<div class="s-limit black-text"><h4>OUR WORK</h4></div>
    </div>
    <div class="large-12 columns m-limit">
        <br /><br /><br /><br />
	<h1 class="blue-noise-bg inline-inline">Mantra is a complete lifecycle firm with a strong UX methodology.</h1>	
    </div>
    <div class="large-4 columns work-single s-limit left"><img src="/assets/works/monthlys.jpg"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="http://placehold.it/450x450"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="http://placehold.it/450x450"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="http://placehold.it/450x450"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="http://placehold.it/450x450"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="http://placehold.it/450x450"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="http://placehold.it/450x450"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="http://placehold.it/450x450"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="http://placehold.it/450x450"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="http://placehold.it/450x450"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="http://placehold.it/450x450"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="http://placehold.it/450x450"/></div>
    <div class="large-4 columns work-single s-limit left"><img src="http://placehold.it/450x450"/></div>
</div>
