
<div class="work-single-header">
    <div class="row">
	<div class="large-6 right columns text-right">

	    <h1 class="text-shadow">Mobile raffle games</h1>
	</div>
    </div>
</div>

<div class="work-single-info">
    <div class="row b-limit">
	<div class="large-12 columns">
	    <div class="text-center">
		<h2 class="oxygen">
		    GreenBeans are mobile raffle tickets vendors give to their customers. They are redeemed via text message, mobile web or by mobile app. 
		</h2>
	    </div>
	</div>
    </div>
    <div class="row m-limit divider">
	<div class="large-6 columns">

	    <h1 class="s-limit">
		New Business Ideation
	    </h1>
	    <p class="h3 oxygen">
		When friends of ours asked us to innovate in the loyalty space, we came up with GreenBeans. Within 5 weeks, Mantra prototyped a working business. The app is currently piloting in several bars, restaurants and small busiensses.
	    </p>
	</div>

	<div class="large-6 columns">

	    <img src="assets/works/beans-1.jpg"/>
	</div>
    </div>
    
    <div class="row m-limit">
		<div class="large-12 columns">
			<div class="large-12 center columns">
		
			    <h1 class="s-limit">
				Web App Design &amp; Development
			    </h1>
			    <p class="h4 oxygen">
				Mantra built an MVAP for GreanBeans four weeks from conception. 
			    </p>
			</div>
		</div>
		<div class="large-12 center columns">
	
	    	<img src="assets/works/beans-2.jpg"/>
		</div>
    </div>    
</div>

