
<div class="work-single-header">
    <div class="row">
	<div class="large-4 left columns text-left">

	    <h1 class="text-shadow">SaaS for insurance agents</h1>
	</div>
    </div>
</div>

<div class="work-single-info">
    <div class="row b-limit">
	<div class="large-12 columns">
	    <div class="text-center">
		<h2 class="oxygen">
		    Mantra teamed up with AgentRun to develop a soup-to-nuts SaaS business - a CRM for independent insurance agents. 
		</h2>
	    </div>
	</div>
    </div>

<div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Disrupt
			    </h1>
			    <p class="h4 oxygen">
				Mantra and AgentRun have teamed up to offer down right better CRM software for the independent insurance industry. Mantra demonstrates it's ability to quickly design and build large scale, enterprise software systems.
			    </p>
			    <img src="assets/works/agent-1.jpg"/>


			</div>
		</div>
    </div> 

    <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				User Interface
			    </h1>
			    <p class="h4 oxygen">
				By better, we meant painfully better. Winning in today SaaS sector means designing user friendly software that looks and feels, well, better.
			    </p>
			    <img src="assets/works/agent-2.jpg"/>


			</div>
		</div>
    </div> 
    <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Attention to Detail
			    </h1>
			    <p class="h4 oxygen">
				Our attention to detail ensures everything happens smooth, that engineers are happy and that AgentRun is happy. The only thing for AgentRun to do now is - win! 
			    </p>
			    <img src="assets/works/agent-3.jpg"/>


			</div>
		</div>
    </div> 
  

     <div class="row center m-limit ">
		<div class="large-12 columns">
			<p class="h4 oxygen">
			Check out <a href="http://agentrun.com" target="_new">AgentRun.com</a> on the web.
			</p>
		</div>
		
    </div>  
  
</div>

