
<div class="work-single-header">
    <div class="row">
	<div class="large-6 right columns text-right">

	    <h1 class="text-shadow">Sell anything on all major marketplaces with one app.</h1>
	</div>
    </div>
</div>

<div class="work-single-info">
    <div class="row b-limit">
	<div class="large-12 columns">
	    <div class="text-center">
		<h2 class="oxygen">
		    Sell on Craigslist, Ebay, Amazon, Etsy, Facebook and Twitter with a couple snaps and taps. SellSimple is the first to achieve number one in lifestyle on the app store for this category.
		</h2>
	    </div>
	</div>
    </div>
    <div class="row m-limit divider">
	<div class="large-6 columns">

	    <h1 class="s-limit">
		User Experience Evaluation
	    </h1>
	    <p class="h3 oxygen">
		Mantra's fresh set of eyes and rapid user testing helped SellSimple prioritize critical changes that have increased conversion by a factor of 5x within the first month of engagement. 
	    </p>
	</div>

	<div class="large-6 columns">

	    <img src="assets/works/sell-1.jpg"/>
	</div>
    </div>


    <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Mobile Development
			    </h1>
			    <p class="h4 oxygen">
				Mantra helped SellSimple design and implement critical features for mobile, web and api. Our ongoing relationship has helped SellSimple focus on growth, marketing and traction rather than the details of software and user experience.
			    </p>
			    <img src="assets/works/sell-2.jpg"/>


			</div>
		</div>
    </div> 

<div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Custom Film &amp; Photography
			    </h1>
			    <p class="h4 oxygen">
				Mantra tapped into the art of film and photography to achieve a fascinating design aesthetic for SellSimple.
			    </p>
			    <img src="assets/works/sell-4.jpg"/>


			</div>
		</div>
    </div> 

<div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Web App Features
			    </h1>
			    <p class="h4 oxygen">
				Mantra is extending SellSimples web presence while building a robust web based marketplace to complement it's mobile presence. 
			    </p>
			    <img src="assets/works/sell-6.jpg"/>


			</div>
		</div>
    </div> 


<div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Market Strategy
			    </h1>
			    <p class="h4 oxygen">
				Mantra is extending SellSimples web presence while building a robust web based marketplace to complement it's mobile presence. 
			    </p>
			    <img src="assets/works/sell-3.jpg"/>


			</div>
		</div>
    </div> 

   <div class="row center m-limit ">
		<div class="large-12 columns">
			<p class="h4 oxygen">
			Check out <a href="http://sellsimple.com" target="_new">SellSimple.com</a> on the web.
			</p>
		</div>
		
    </div>  




 
</div>


