
<div class="work-single-header">
    <div class="row">
	<div class="large-4 left columns text-left">

	    <h1 class="text-shadow">Cross platform education technology. Boom.</h1>
	</div>
    </div>
</div>

<div class="work-single-info">
    <div class="row b-limit">
	<div class="large-12 columns">
	    <div class="text-center">
		<h2 class="oxygen">
		    BenchPrep – the world’s only courses for your computer, iPhone, Android, &amp; iPad.
		</h2>
	    </div>
	</div>
    </div>

    <div class="row m-limit">
		<div class="large-6 columns">
		    <h1 class="s-limit">
			Branding &amp; Identity
		    </h1>
		    <p class="h4 oxygen">
			We helped BenchPrep rebrand by organizing namestorming workshops, validations sessions and surveys. 
		    </p>
		</div>
		<div class="large-6 columns">
		    <img src="assets/works/bench-1.jpg"/>
		</div>
    </div>
    <div class="row m-limit divider">
		<div class="large-6 columns">
		    <h1 class="s-limit">
			Icon Design
		    </h1>
		    <p class="h4 oxygen">
			The new BenchPrep needed a distinct look and feel, one that would seem engaging and never boring for students.
		    </p>
		</div>
		<div class="large-6 columns">
		    <img src="assets/works/bench-2.jpg"/>
		</div>
    </div>
    <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Technical Architecture
			    </h1>
			    <p class="h4 oxygen">
				Our thought leadership helped BenchPrep discover it's core experience and platform. We helped BenchPrep discover it's technology footprint, ideal platform architecture and information architecture.
			    </p>
			    <img src="assets/works/bench-3.jpg"/>


			</div>
		</div>
    </div>  
    <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				User Interface Design
			    </h1>
			    <p class="h4 oxygen">
				We designed BenchPrep's webapp user inteface and led countless rounds of prototyping and experience research.
			    </p>
			    <img src="assets/works/bench-4.jpg"/>


			</div>
		</div>
    </div> 
    <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Tablet Experience Design
			    </h1>
			    <p class="h4 oxygen">
				We helped BenchPrep discover new experiences for different devices and think outside the box about the possibilites of education in the palm of your hand.
			    </p>
			    <img src="assets/works/bench-5.jpg"/>


			</div>
		</div>
    </div> 
    <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-12 center columns">
			    <h1 class="s-limit">
				Mobile Experience Design
			    </h1>
			    <p class="h4 oxygen">
				We helped BenchPrep design an even better experience once it's initial products were field tested.
			    </p>
			    <img src="assets/works/bench-6.jpg"/>


			</div>
		</div>
    </div> 


<div class="row m-limit divider">
    	<div class="large-12 columns">
			<div class="large-12 center columns">
				<br /><br />
			    

			    	<div class="large-6 columns text-left">
			    		<h1 class="s-limit">Live Motion Video</h1>
			    		<p class="h4 oxygen">We used our cameras and interns to film a unique live motion video to inspire customers.<br /><br /><br /></p>
				    	<img src="assets/works/bench-7.jpg"/>
					</div>
					<div class="large-6 columns text-left">
						<h1 class="s-limit">Animated Video</h1>
			    		<p class="h4 oxygen">We created animated explainer videos for new customers and finished them with Loose Keys.<br /><br /></p>
					    <img src="assets/works/bench-8.jpg"/>
			    <br /><br />

					</div>

			    <br /><br />
			</div>
		</div>
    </div>

 <div class="row m-limit divider">
		<div class="large-12 columns">
			<div class="large-5 center columns">
				<img src="assets/works/bench-9.jpg"/>
			</div>
			<div class="large-6 left columns text-left">
			    <h1 class="s-limit">
				Activation &amp; Retention
			    </h1>
			    <p class="h4 oxygen">
				We spent countless weeks researching, segmenting and formulating a sophisticated activation and retention email sequence for both prospects and clients.
			    </p>
			    <img src="assets/works/bench-10.jpg"/>
			</div>
		</div>

    </div> 

   <div class="row center m-limit ">
		<div class="large-12 columns">
			<p class="h4 oxygen">
			Check out <a href="http://benchprep.com">BenchPrep.com</a> on the web.
			</p>
		</div>
		
    </div>  


      
</div>

