/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 * 
 *= require_tree 
 *= require_bigvideo 
 *= require_reset 
 *= require_self
 */

@font-face {
    font-family: 'cabinbold';
    src: url('cabin-bold-webfont.eot');
    src: url('cabin-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('cabin-bold-webfont.woff') format('woff'),
         url('cabin-bold-webfont.ttf') format('truetype'),
         url('cabin-bold-webfont.svg#cabinbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cabinbold_italic';
    src: url('cabin-bolditalic-webfont.eot');
    src: url('cabin-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('cabin-bolditalic-webfont.woff') format('woff'),
         url('cabin-bolditalic-webfont.ttf') format('truetype'),
         url('cabin-bolditalic-webfont.svg#cabinbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
 
 
 body {

     font-family: 'cabinbold';
     font-size: 10pt;
     background: url(bgs/1.jpg) no-repeat center;
     background-size: cover;
     background-attachment: fixed;
     transition: background 0.5s linear;

 }
 .home_bg {
    margin-top: 92px;
     font-family: 'cabinbold';
     font-size: 10pt;
     background: url(bgs/2.jpg) no-repeat top center;
     background-size: cover;
     transition: background 0.5s linear;
 }
 .works_bg {
    margin-top: 92px;
     font-family: 'cabinbold';
     font-size: 10pt;
     background: url(bgs/2.jpg) no-repeat top center;
     background-size: cover;
     transition: background 0.5s linear;
 }

 a:visited {
    color:#2c6eb7;
 }
 em {
     font-family: 'cabinbold_italic';
 }
 
 #big-video-control {
     display:none !important;
 }
 #topbar {
     background: url(topbar-bg.jpg) repeat-x top;
     position:fixed;
     height:52px;
     top:0;
     width: 100%;
     box-shadow: 0 0 10px black;
     color: #5e5e5e;
     z-index: 2;
 }
 
 #topbar nav ul li {
     display: inline-block;
     line-height: 52px;
     padding:0 20px 0 20px;
     background: url(ui/topbar-limiter.png) repeat-y right;
     margin: 0;
     float: left;
     overflow: hidden;
     max-height: 52px;
     cursor: pointer;
     
 }
 
 .keyboard-icon {
     background: url(ui/keyboard.png) repeat-y right;
     position: absolute;
     right: -60px;
     width: 42px;
     height: 28px;
     bottom: 15px;
     opacity: 0.6;
 }
 .work-single img {
     width:100%;
     height: auto;
 }

 #topbar nav ul li img {
     margin-left: 5px;
     margin-bottom: 3px;
 }
 .tour-arrow {
     background: url(ui/tour-arrow.png) no-repeat;
     width:10px;
     height:6px;
     position:absolute;
     bottom: 0;
     display:none;
 }
 #bgfader, #bgfader2 {position:fixed;background-size:cover;width:100%;height:100%;left:0px;top:0px;z-index:-3;}
  #bgfader2 {z-index: -4;}
  .filldiv {position:fixed;background-size:cover;width:100%;height:100%;left:0px;top:0px;background-position: center;}
 .blue-noise-bg {
     background: url(ui/blue-noise.gif);
     color: #fff; 
 }
 .tour-single-slogan {position: relative; display: none;}
 .black-transparent-bg {
     background: #000;
     background: rgba(0,0,0,0.90);
     color: #fff;
 }
 .white-bg {
     background: #fff;
     color: #000;
 }
 
 .black-text {
     color: #000;
 }
 .inline {
     display: inline-block;
 }
 
 h1 {
     font-size:48pt;
 }
 h2,.h2 {
     font-size: 20pt;
     line-height: 1.5em;
 }
 h3,.h3 {
     font-size: 16pt;
     line-height: 1.5em;
 }
  h4,.h4 {
     font-size: 13pt;
     line-height: 1.5em;
 }

 .work-single-header {
     background: none !important;
     height: 420px;
     color: #fff;
 }
 
 .work-single-info {
     background: #fff;
     padding-top: 60px;
     padding-bottom: 60px;
 }
 
 .m-padding {
     padding: 44px 27px 44px 27px;
 }
 .s-padding {
     padding: 10px;
     margin-top:7px;
 }
 
 .oxygen {
 font-family: 'Oxygen', sans-serif;
 font-weight: 300;
 }
 
 #rightbar {
     position: fixed;
     right: 0;
     top:250px;
 }
 
 #rightbar nav ul {
     text-align: right;
 }
 #rightbar nav ul li {     
     padding:20px;
     font-size:11pt;
     float:right;
     cursor: pointer;
 }
 #rightbar nav ul li:hover {     
     
     padding-right:25px;
 }
 
 .cboth {
     clear: both;
 }

 .s-limit {
     margin-bottom: 20px;
 }
 .s-limit-top {
     margin-top: 20px;
 }
 .m-limit-top {
     margin-top: 40px;
 }
 .m-limit {
     margin-bottom: 40px;
 }
 .b-limit {
     margin-bottom: 80px;
     
 }
 .b-limit-top {
     margin-top: 80px;
 }
 .inline-inline {
     display: inline !important;

 }
 .frame {
     border: 1px solid #fff;
     padding: 20px;
     color: #fff;
 }
 
 table.menu {
     width: 100%;
 }
 table.menu tr td {
     text-align: center;
     font-size: 12pt;
     cursor: pointer;
 }
 .big-shadow {
     background: url(ui/big-shadow.png) repeat-x top;
     position:fixed;
     height:252px;
     top:0;
     width: 100%;         
     z-index: -1;    
 }
 .animation-color {
       transition: border 0.2s ease-in-out, background 0.2s ease-in-out, color 0.2s ease-in-out;
      -moz-transition: border 0.2s ease-in-out, background 0.2s ease-in-out, color 0.2s ease-in-out;    /* FF3.7+ */
      -o-transition: border 0.2s ease-in-out, background 0.2s ease-in-out, color 0.2s ease-in-out;      /* Opera 10.5 */
      -webkit-transition: border 0.2s ease-in-out, background 0.2s ease-in-out, color 0.2s ease-in-out; /* Saf3.2+, Chrome */ 
}

.position-animation {
      transition: left 0.2s ease-in-out, top 0.2s ease-in-out, margin 0.2s ease-in-out, padding 0.2s ease-in-out;
      -moz-transition: left 0.2s ease-in-out, top 0.2s ease-in-out, margin 0.2s ease-in-out, padding 0.2s ease-in-out;    /* FF3.7+ */
      -o-transition: left 0.2s ease-in-out, top 0.2s ease-in-out, margin 0.2s ease-in-out, padding 0.2s ease-in-out;      /* Opera 10.5 */
      -webkit-transition: left 0.2s ease-in-out, top 0.2s ease-in-out, margin 0.2s ease-in-out, padding 0.2s ease-in-out; /* Saf3.2+, Chrome */
}
.size-animation {
      transition: max-height 0.2s ease-in-out, width 0.2s ease-in-out;
      -moz-transition: max-height 0.2s ease-in-out, width 0.2s ease-in-out;    /* FF3.7+ */
      -o-transition: max-height 0.2s ease-in-out, width 0.2s ease-in-out;      /* Opera 10.5 */
      -webkit-transition: max-height 0.2s ease-in-out, width 0.2s ease-in-out; /* Saf3.2+, Chrome */    
}


 @media only screen and (max-width: 48em) {
 .small-static {
     position: static !important;
 }


 #videoTag{
 	position: absolute;
 	width: 1500px;
 	height: 1000px;
 	left: 0px;
 	top:-200px;
}
 }